{% extends 'base.html.twig' %}
{% block stylesheets %}
    {% stylesheets 'public/css/*'  %}
         <link rel="stylesheet" href="{{ asset_url }}" />
     {% endstylesheets %}
{% endblock %}

{% block body %}
<span class="text">Hello World!</span>
{% endblock %}
